body{
    color:rgb(226, 175, 34);
    background: black;
}

.chamada{
    background:rgb(3, 47, 143);
    padding-botton: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}