body{
    color:rgb(209, 223, 11);
    background: black;
}

.chamada{
    background:rgb(5, 71, 170);
    padding-botton: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}